.submit-form__bar {
    background-color: rgb(25, 38, 63);
    width: 30rem;
    height: 1rem;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    padding: 0.8rem;
    color: rgb(114, 113, 113);
    border-radius: 0.4em;
}

.submit-form__add-button {
    background-color: #374151;
    border-style: none;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 1rem;
    cursor: pointer;
    color: rgb(223, 253, 247);
}